.recipe-image {
    width: 300px; /* Ancho deseado */
    height: 300px; /* Altura deseada */
    object-fit: cover; /* Asegura que la imagen cubra todo el espacio sin perder las proporciones */
    border-radius: 50%; /* Redondea la imagen */
  }
  
  .user-name{
    font-size: 26px;
  }

  /* Estilos de los botones */
  .button-log,
  .button-data {
    flex: 1; /* Ocupa todo el espacio disponible */
    border-radius: 9999px; /* Hace que los botones sean completamente redondos */
  }
  
  .button-data:hover,
  .button-log:hover {
    background-color: transparent !important;
  }
  
  .button-log {
    margin-left: 20px; /* Ajusta el margen izquierdo del botón Log Out */
  }
  