.inputs-style{
    color: #000000;
    box-shadow: 2px 2px 2px #ffc107b7 ;
    border-color: gray;
    font-family: 'Roboto Mono', monospace; 
}
.select-style{
    color: #ffffff;
    box-shadow: 2px 2px 2px #ffc107b7 ;
    border-color: gray;
    font-family: 'Roboto Mono', monospace; 
    background-color: #000000;
    border-radius: 50px;
}

.img-style{
    background-color: #ffffff;
    color: #000000;
    box-shadow: 2px 2px 2px #ffc107b7 ;
    border-color: gray;
    font-family: 'Roboto Mono', monospace; 
}

.title-style{
    font-family: 'Roboto Mono', bold;
    font-size: 20px; 
}

.delete-button:hover{
    background-color: transparent !important;
    border-color: #DC3545 !important;
    color: #DC3545!important;
}

.add-button:hover{
    background-color: transparent  !important;
    border-color: #0DCAF0 !important;
    color: #0DCAF0 !important;
}

.post-button:hover{
    background-color: transparent !important;
    border-color: #198754 !important;
    color: #198754 !important;
}

.prev-button,
.next-button {
  margin-right: 10px; /* Ajusta el margen entre los botones Anterior y Siguiente/Enviar receta */
}
  
