.user-page-container {
    display: block;
    height: 100vh;
    overflow: hidden;
  }
  .black-background {
    background-color: black;
    color: white;
  }
  .bar-navigator-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .card-user{
    position: fixed;
    left: 30.5%;
    top: 21%;
    width: 800px;
    box-shadow: 5px 5px 15px #ffc107;
    border-radius: 8px;
  }